<div class="row">
  <div class="col-xm-12">
    <form [formGroup]="recipeEditForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button [disabled]="!recipeEditForm.valid" type="submit" class="btn btn-success">Save</button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input name="name" formControlName="name" class="form-control" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imagePath">Iamge Url</label>
            <input
              name="imagePath"
              formControlName="imagePath"
              class="form-control"
              #imagePath
            />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <img [src]="imagePath.value" class="img-thumbnail" alt="" />
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea
              class="form-control"
              name="description"
              formControlName="description"
              id=""
              cols="10"
              rows="3"
            ></textarea>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12" formArrayName="ingredients">
          <div
            class="row"
            *ngFor="
              let ingredient of recipeEditForm.get('ingredients').controls;
              let i = index
            "
            [formGroupName]="i"
            style="margin-top: 10px"
          >
            <div class="col-xs-8">
              <div class="form-Group">
                <input
                  type="text"
                  formControlName="name"
                  class="form-control"
                  name="name"
                />
              </div>
            </div>
            <div class="col-xs-2">
              <div class="form-Group">
                <input
                  type="number"
                  formControlName="amount"
                  class="form-control"
                  name="amount"
                />
              </div>
            </div>
            <div class="col-xs-2">
              <button type="button" (click)="onDeleteIngerdient(i)" class="btn btn-danger">X</button>
            </div>
          </div>
          <hr />
          <button
            type="button"
            (click)="addNewIngerdient()"
            class="btn btn-success"
          >
            Add New
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
