<div class="text-center">
  <!-- Button HTML (to Trigger Modal) -->

  <!-- Modal HTML -->
  <div class="modal-dialog modal-login">
    <div class="modal-content">
      <div class="modal-header">
        <div class="alert alert-danger red" *ngIf="error">
         <p> {{ error }}</p>
        </div>
      </div>

      <div class="modal-body">
        <app-loading *ngIf="isLoading"></app-loading>
        <form #frm="ngForm">
          <div class="form-group">
            <input
              type="text"
              ngModel
              name="email"
              style="font-family:Arial !important"
              id="txtOrderId"
              class="form-control"
              placeholder="ایمیل"
              required="required"
              email
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              ngModel
              name="password"
              style="font-family:Arial !important"
              id="txtMobileNumber"
              class="form-control"
              placeholder="پسورد"
              required="required"
              minlength="6"
            />
          </div>
          <div class="form-group">
            <button
              (click)="onLogin(frm)"
              [disabled]="!frm.valid"
              type="submit"
              class="btn btn-primary default1"
            >
              {{ isLoginMode ? "Sign up" : "Log in " }}
            </button>
            <button
              type="button"
              (click)="onSwitch()"
              class="btn btn-primary default1"
            >
              Switch {{ isLoginMode ? "Log in" : "Sign up " }}
            </button>
          </div>
        </form>
        <div class="   " style="color:blue">
          <a href="#">راهنمایی جهت ورود به سامانه</a>
        </div>
      </div>
    </div>
  </div>
</div>
