<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success"  (click)="AddNewRecipe()" >Add New Recipe</button>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <a class="list-group-item clearfix" *ngFor="let recipe of Recipes">
      <div class="pull-left">
        <h4 class="list-group-item-heading">{{recipe.Name}}</h4>
        <p class="list-group-item-text">{{recipe.Description}}</p>
      </div>
      <div class="pull-right">
        <span>
          <img [src]="recipe.ImagePath" alt="{{recipe.Name}}" class="img-responsive" style="max-height: 50px;" />
        </span>
      </div>
    </a>
    <app-recipe-item></app-recipe-item>
  </div>
</div>
